/* this is a css reset that makes sure the browser won't add any unexpected margins or padding to your page */
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: "BaksoSapi";
  src: url("../fonts/BaksoSapi.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BerlinSansFB";
  src: url("../fonts/BerlinSansFB.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #8bb3df;
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
  background-color: #000000;
  padding: 0;
  margin: 0;
}

nav li {
  margin: 0;
}

nav a {
  display: block;
  padding: clamp(6px, 1.2vw, 14px) clamp(10px, 2vw, 20px);
  color: white;
  text-decoration: none;
  font-family: "BerlinSansFB", sans-serif;
  letter-spacing: 1px;
  font-size: clamp(12px, 1.6vw, 22px);
}

nav {
  padding-bottom: 2vw;
  margin-bottom: 0;
}

nav a:hover {
  background-color: #94268f;
}

nav a.active {
  background-color: rgb(121, 99, 171);
}


h1 {
  font-family: "BaksoSapi", sans-serif;
  font-size: 10vw;
  color: white;
  margin: 2vw;
  letter-spacing: 1px;
  margin-top: 0;
}

h2 {
  font-family: "BerlinSansFB", sans-serif;
  color: white;
  letter-spacing: 1px;
  margin-left: 2vw;
  font-size: 2.5vw;
  font-weight: lighter;
}

.subtitle {
  font-size: clamp(6px, 2vw, 32px);
  margin-right: 6em;
  margin-left: 2vw;
  font-family: "BerlinSansFB", sans-serif;
  color: white;
  letter-spacing: 1px;
  font-weight: lighter;
}

.purp{
  color: #94268f;
}
.subtitleblack {
  font-size: clamp(10px, 1.5vw, 30px);
  margin-right: 6em;
  margin-left: 2vw;
  font-family: "BerlinSansFB", sans-serif;
  color: rgb(0, 0, 0);
  letter-spacing: 1px;
  font-weight: lighter;
}


.subtitle3 {
  font-size: clamp(20px, 3vw, 50px);
  margin-top: 1em;
  margin-left: 2vw;
}

.subtitle4 {
  font-size: clamp(20px, 3vw, 50px);
  margin-top: 0;
  color: #94268f;
  margin-left: 2vw;
  margin-bottom: 4vw;
}

.body1 {
  font-size: 1.5vw;
  color: #000000;
  margin-left: 2vw;
  font-family: "BerlinSansFB", sans-serif;
  letter-spacing: 1px;
  margin-top: 4vw;
}

.body2 {
  font-size: 1.5vw;
  color: #000000;
  margin-left: 2vw;
  font-family: "BerlinSansFB", sans-serif;
  letter-spacing: 1px;
  margin-top: 0;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 4vw;
  margin-bottom: 4vw;
}

.image-grid img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.image-grid img:hover {
  transform: scale(1.03);
}

.back-arrow {
  font-family: "BerlinSansFB", sans-serif;
  letter-spacing: 1px;
  margin-left: 2vw;
  font-size: clamp(10px, 1.5vw, 30px);
}


.title-container {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-start;
}



.title-img {
  width: clamp(120px, 18vw, 190px);
}

.bigger{
  width: 19vw;
}

.tips {
  background-color: #38b54a;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  color: white;
  margin: 50px 6em 50px 2vw;
  border: 4px solid rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}


.tips-green {
  background-color: #38b54a;
}

.tips-blue {
  background-color: #2e3091;
}

.tips-red {
  background-color: #940036;
}

.tips-pink {
  background-color: #fc6fac;
}

.tips-purple {
  background: radial-gradient(rgb(121,99,171), rgb(139,179,223));
}

.lightbulb {
  width: 40px;
  height: auto;
}

.tips p {
  margin: 0;
  font-size: clamp(12px, 2.5vw, 32px);
  line-height: 1.4;
  font-family: "BerlinSansFB", sans-serif;
  letter-spacing: 1px;

}

.back-arrow:hover {
  color: rgb(255, 255, 255);
}

.longerheading {
  font-size: 8vw;
  max-width: 48%;
}

.longestheading {
  font-size: 8vw;
  max-width: 60%;
}

@media only screen and (max-width: 700px) {
  nav ul {
    display: flex;
    flex-wrap: wrap;    
  }

  nav li {
    flex: 1;            
    text-align: center;  
  }

  nav a {
    width: 100%;         
  }
  .back-arrow {
    font-size: 30px;
  }

  nav {
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 12vw;
    margin-top: 20px;
  }
  .subtitle{
    font-size: 20px;
    margin-right: 2vw;
  }

  .tips p {
    font-size: 20px;
  }
  
  .tips {
    margin-top: 30px;
    margin-right: 2vw;
  }
  h2 {
    font-size: 5.5vw;
  }
  .subtitleblack {
    font-size: 4vw;
    margin-right: 2vw;
    margin-bottom: 4vw;
  }
  .image-grid {
    margin-top: 7vw;
  }
  .longerheading {
  font-size: 10vw;
  max-width: 60%;
}
  .title-container {
    gap: 1px;
  }

  .title-img {
  width: 14vw;
}

  .body1 {
    font-size: 3vw;
    margin-top: 5vw;
  }

  .body2 {
    font-size: 3vw;
  }
}

.divider {
  border: none;
  border-top: 2px solid white;   
  margin: 50px 2vw 0 2vw;            
  width: 80%;          
}

.white {
  color: white;
}
